* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Press Start 2P', monospace;
    background-color: #333;
}

h1 {
    color: white;
    margin-bottom: 40px;
    font-size: 25px;
}

canvas {
    border: 2px solid white;
    image-rendering: pixelated;
    border: 4px solid #000;
}

#scoreboard {
    position: absolute;
    z-index: 2;
    padding: 10px;
}

h2 {
    position: absolute;
    color: white;
    top: -38px;
    left: 20px;
    font-size: 16px;
    line-height: 1.5;
}

ul {
    height: 180px;
    width: 200px;
    line-height: 1.5;
    list-style: none;
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border: 2px solid #000;
    border-radius: 8px;
    font-family: 'Press Start 2P', monospace; /* retro pixel font */
    font-size: 14px;
    color: #000;
}

ul li {
    padding: 4px 0;
    border-bottom: 1px dashed #000;
}

ul li:last-child {
    border-bottom: none;
}
